<% provide(:title, t('view.users_index.title')) %>
<h1> <%= t('view.users_index.title') %> </h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
