<% provide(:title, t('view.user_new.title')) %>
<h1><%= t('view.user_new.title') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit t('view.user_new.submit'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
