<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t('view.footer.about'),   about_path %></li>
      <li><%= link_to t('view.footer.contact'), contact_path %></li>
    </ul>
  </nav>
</footer>
